body { 
    font-family: Georgia;
    background-color: black;
    color: white;
}

table {
    border-collapse: collapse;
}

button {
    padding: 1ex 3ex;
}

.air {
    margin: 2em;
}

table.info td {
    border-top: 3px double white;
    border-bottom: 3px double white;
    padding: 2ex;
}